/* Меняем шрифт */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    font-family: 'Playfair Display', serif;
    font-weight: 100;
    font-size: 8px;
}


header {
    margin-block-end: 10px; /* Отступ снизу для заголовка */
}

/* Добавление отступа между разделами */
section {
    margin-bottom: 5px; /* Отступ снизу для разделов */
    display: flex; /* Использование flex-контейнера */
    flex-direction: column; /* Столбцы - элементы flex-контейнера располагаются вертикально */
    align-items: center; /* Выравнивание по центру по горизонтали */
}

/* Стилизация нижнего колонтитула */
footer {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px; /* Замените на ваше желаемое значение */
    /* position: fixed;
    bottom: -10px; */
    width: 100%;
    background-color: #f1f1f1;
    padding: 5px;
}

/* Выравнивание текста в центре для заголовка и разделов */
header, section {
    text-align: center;
}

.rectangleOne {
    width: 300px; /* Ширина прямоугольника */
    height: 75px; /* Высота прямоугольника */
    background-color: #4694c9; /* Цвет фона прямоугольника */
    margin-top: 5px; /* Отступ сверху */
    display: flex; /* Использование flex-контейнера для внутренних элементов */
    justify-content: flex-start; /* Выравнивание по центру по горизонтали внутри прямоугольника */
    align-items: center; /* Выравнивание по центру по вертикали внутри прямоугольника */
}

.rectangleTwo {
    width: 300px; /* Ширина прямоугольника */
    height: 75px; /* Высота прямоугольника */
    background-color: #9bc946; /* Цвет фона прямоугольника */
    margin-top: 5px; /* Отступ сверху */
    display: flex; /* Использование flex-контейнера для внутренних элементов */
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* Скрываем часть squareTwo, выходящую за пределы rectangleTwo */
}

.rectangleThree {
    width: 300px; /* Ширина прямоугольника */
    height: 75px; /* Высота прямоугольника */
    background-color: #cca42d; /* Цвет фона прямоугольника */
    margin-top: 5px; /* Отступ сверху */
    display: flex; /* Использование flex-контейнера для внутренних элементов */
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* Обрезаем часть squareThree, выходящую за пределы rectangleThree */
}

.rectangleFour {
    width: 300px; /* Ширина прямоугольника */
    height: 75px; /* Высота прямоугольника */
    background-color: #ce3bc2; /* Цвет фона прямоугольника */
    margin-top: 5px; /* Отступ сверху */
    display: flex; /* Использование flex-контейнера для внутренних элементов */
    justify-content: flex-start; /* Выравнивание по левому краю по горизонтали внутри прямоугольника */
    align-items: center; /* Выравнивание по центру по вертикали внутри прямоугольника */
}

/* Стили для текстового содержимого внутри секции */
section h4,
section p {
    margin: 3px 0; /* Отступы сверху и снизу для заголовков и абзацев */
}




@keyframes moveRight {
    /* Анимация движения квадрата вправо */
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(275px); /* Ширина прямоугольника - сторона квадрата */
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes moveLeft {
    /* Анимация движения квадрата влево */
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-275px); /* Ширина прямоугольника - сторона квадрата */
    }
    100% {
        transform: translateX(0);
    }
}

/* Квадрат squareOne внутри прямоугольника rectangleOne */
.squareOne {
    width: 25px; /* Ширина квадрата */
    height: 25px; /* Высота квадрата */
    background-color: #ffffff; /* Цвет фона квадрата */
    animation: moveLeft 4s linear infinite; /* Применение анимации движения влево */
}

/* Квадрат squareOne внутри прямоугольника rectangleOne с анимацией движения вправо */
.rectangleOne .squareOne {
    animation: moveLeft 2s linear infinite, moveRight 2s linear infinite; /* Применение анимации движения вправо и влево */
}

/* Квадрат squareTwo внутри прямоугольника rectangleTwo */
.squareTwo {
    width: 25px;
    height: 25px;
    background-color: #ffffff; /* Цвет фона квадрата squareTwo */
    transition: transform 2s ease-in-out; /* Анимация transition для smooth движения */
}

/* Применение анимации движения вправо и влево с помощью класса moving */
.rectangleTwo:hover .squareTwo {
    transform: translateX(275px); /* Ширина rectangleTwo - Ширина squareTwo */
}

/* Квадрат внутри прямоугольника */
.squareThree {
    width: 25px; /* Ширина квадрата */
    height: 25px; /* Высота квадрата */
    background-color: #ffff; /* Цвет фона квадрата */
}

/* Квадрат внутри прямоугольника */
.squareFour {
    width: 25px; /* Ширина квадрата */
    height: 25px; /* Высота квадрата */
    background-color: #ffff; /* Цвет фона квадрата */
}